Hello Cyberphone.  What happened to JSF?

I noticed JSF in your repository, and it's the first time I've heard of it or seen it.  Did anything end up happening with it?  

Hello Zack,
My JSF implementation works fine but JSF did not make as an RFC.  Or to be more correct, since the IETF slammed JSON canonicalization (which is the foundation), I didn't feel much motivation for continuing along this path.

More recently, I have turned to deterministic CBOR which eliminates canonicalization altogether:
https://github.com/cyberphone/cbor-everywhere/tree/main#cbor-everywhere
https://cyberphone.github.io/javaapi/org/webpki/cbor/doc-files/signatures.html

At the moment I stay put with CSF and just use it.  It is very similar to JSF, albeit with a slightly reduced scope.

Thank you for the reply!  

I've not yet digested all of JSF, but it looks very interesting!  I think using `now` for the timestamp name is brilliant.  We went down the same rabbit hole with [Coze](https://github.com/Cyphrme/Coze).   

>IETF slammed JSON canonicalization

Huh.  We had to address generic JSON canonicalization for Coze.  I would be interested in the discussion surrounding JCS.  We've had a few (long) discussions about canonicalization as well.   



Hi Zack,
JSF would probably not buy you that much over what Coze already provides.  After taking a peek at the Coze spec, I understand better your concerns with the UTF-16 sorting scheme.  Anyway, in a normal setup, sorting on UTF-8 or UTF-16 encoded keys return the same result.  

Your Canon scheme may need a minor addition: String serialization could be more precise,  like described in https://www.rfc-editor.org/rfc/rfc8785#name-serialization-of-strings

Hello cyberphone, 

Regarding your link for string serialization, Coze isn't currently following
I-JSON for duplication, but yes, I think it should follow I-JSON deduplication.
If it did, what it currently hasn't implemented is addressing JSON escapes.  

However, escapes are a big problem.  I don't think anyone has nailed it.  Its an
effort that needs some work.  


While reading 3.2.2.2, I noticed a problem in the first bullet point, and
continues into the second bullet point.  This concern has a few facets, so I'll
go little by little.  

ASCII has 33 control characters, not 32.  What the RFC says, `ASCII control
character range (U+0000 through U+001F)` is only 32 control characters.  It's
forgetting my second favorite control character, U+007F, `DEL`.

I have a special affinity for `DEL`.  `DEL`'s hex encoding is the only control
character that starts with 7 and my name has 7 letters. My name starts with z
which is the last alphabet letter and `DEL` is last in 7-bit ASCII character. My
name means "God remembers" and this too is true for `DEL` because it seem only
God remembers that `DEL` is a control character!  It is the forgotten control
character!  ;-)

But this is only phase one of the problem.  

JSON is not ASCII.  JSON is Unicode and UTF-8 encoded.  

Thankfully, UTF-8 is an extension of 7-bit ASCII.  That's one of the miracles of
UTF-8: it was able to extend ASCII without modifying the original.  

However, Unicode does not have 33 control characters.  The first 32 code points
past 7-bit ASCII are also control characters.  This brings the total to number
of control characters to 65.  


This is the full list of Unicode control characters:


NUL | SOH | STX | ETX | EOT | ENQ | ACK | BEL | BS | HT | LF | YT | FF | CR | SO | SI 

DLE | DC1 | DC2 | DC3 | DC4 | NAK | SYN | ETB | CAN | EM | SUB | ESC | FS | GS | RS | US 
DEL 
PAD | HOP | BPH | NBH | IND | NEL | SSA | ESA | HTS | HTJ | VTS | PLD | PLU | RI | SS2 | SS3 
DCS | PU1 | PU2 | STS | CCH | MW | SPA | EPA | SOS | SGC | SCI | CSI | ST | OSC | PM | APC

(For reference, I have an extended ASCII chart near the bottom of my converter:
https://convert.zamicol.com)


So where RFC 8785 says `ASCII control character range (U+0000 through U+001F)`
it should say `control character range (U+0000 through U+001F and U+007F through
U+009F)`


RFC 8785 Section 3.2.2.2 currently reads:

 - If the Unicode value falls within the traditional ASCII control character
   range (U+0000 through U+001F), it MUST be serialized using lowercase
   hexadecimal Unicode notation (\uhhhh) unless it is in the set of predefined
   JSON control characters U+0008, U+0009, U+000A, U+000C, or U+000D, which MUST
   be serialized as \b, \t, \n, \f, and \r, respectively. 
 - If the Unicode value is outside of the ASCII control character range, it MUST
   be serialized "as is" unless it is equivalent to U+005C (\) or U+0022 ("),
   which MUST be serialized as \\ and \", respectively.'

It should be updated to read:

- The Unicode values U+0022, U+005C, U+0008, U+000C, U+000A, U+000D, and U+0009
   MUST be serialized as the two-character escape representation  \", \\, \b,
   \f, \n, \r, and \t respectively. Note that reverse solidus / U+002F is not
   escaped.
- If the Unicode value is not serialized as a two-character escape and it is a
    control character (U+0000 through U+001F and U+007F through U+009F), it MUST
    be serialized using the six-character escape lowercase hexadecimal Unicode
    notation (\uhhhh).
- If the Unicode value is not required to be encoded as an escape, as described
  by the first two bullets, it MUST be serialized "as is".

 
If you wouldn't mind, I'd like to submit errata to 8259, at least about the
control characters, hopefully after some more discussion.  
 
This all being said, yes, you might notice that the control character range is
also incorrect in the JSON RFC.  It was incorrect in the original and it has
been incorrect for 17 years!  How did this go unnoticed, especially for such a
widely implemented and prominent work?  

Well, that's simple.  No one asked me to proofread!  ;-)


And I left you wondering, What is my first?  `NULL` of course as it is zero, and
zero is [cyphr](https://cyphr.me/coze).  

Zach
 

Hello Zack,

RFC 8785 (JCS) follows JavaScript's JSON encoding rules, not only for `String` but for `Number` as well.  This is (IMO), about as standard you can get.  Since UTF-8 is a binary format, escaping on *output* is technically speaking optional except for "; the JSON creator just added escapes for the one he know (and used). 

Anders

The author of the JSON RFC (Tim Bray) claimed that you are correct.
However, he also noted that the world learnt to live without escaping which makes the suggested change a no-go.

I note that Chrome nowadays write DEL as `\x7F` but that is only for debugging, `JSON.stringify()` stick to the spec.

>IETF slammed JSON canonicalization

Is there a link with some of this conversation?  I would like to know what other
concerns were raised, as it may be relevant for Coze.  

For Coze, we considered doing a stricter normalization for canonicalization,
including using Unicode sorted names.  Knowing the challenges of JSON
normalization we ended up choosing to doing canonicalization largely "as is".
Of all the design choices of Coze, this may be one worthy of reexamination or
extension.  I think there's lots of appeal to Unicode sorting, but also some
downsides, but the largest technical challenge is strictly normalizing JSON.  


> The author of the JSON RFC (Tim Bray) claimed that you are correct.

Yeah.  😂  I'll detail below later other ways that we know the RFC mistakenly
thought that there were only 32 control characters.

By the way, Go made the same mistake where it was present for at least 10 years.
It was recently fixed.  I wrote a small explanation on Reddit:
https://old.reddit.com/r/golang/comments/wegqol/go_119_has_been_released

With the knowledge that the JSON RFC made an oopsie, what are the implications
of the JSON RFC incorrectly omitting some escape characters?  What should be the
position that JSON canonicalization takes?  "Just stick to the JSON RFC" is
definitely one of a few legitimate positions.  However, the problem for 8785
with that particular position is that 8785 includes extra mandatory escapes outside of the
(mistakenly) codified 34 mandatory escapes of the JSON RFC.  

That itself is a question I would like to ask independently, why does 8785
specify additional mandatory escapes over what the JSON RFC's have specified?
What was the rational?  And if 8785 is adding additional mandatory escapes over
the JSON RFC's, why are the control characters not included?

But those critical questions are layers above the much more fundamental
question:  

Outside of the delimiter " and the escaping character \ itself, the primary
purpose of escapes is so that the presence of non-printable characters is easily
identifiable.  Control characters are included in the set of "non-printable
characters" but that is only a subset.  A holistic consideration would include
all non-printable characters, of which control characters are a subset.  

Why are not all non-printable characters either escaped or not escaped?  There
doesn't appear to be any reason to have arbitrary sets further subdividing the
set of non-printable characters.  

That's the critical question I'd like to see resolved.  

If I were to write a string oriented JSON normalization scheme, for mandatory
escapes I would either include all control characters or exclude all control
characters.  There's no good reason to cut control characters into different
sets (and there's especially no reason to exclude `DEL` from an ASCII control
character set).  

I think another legitimate position is to have only " and \ as mandatory
escapes.  If there are non-printable characters that are not mandatory escapes,
I don't see good reason to have any escapes outside of " and \.  If any non-printable is not
escaped, what's the use of having some escaped and others not?  

(This is all said with the understanding that " and \ must be escaped.  This is
also acknowledging that "space" itself should be the only non-escaped
non-printable character for obvious reasons.  )


---

Now back to the 32 control characters problem:

Another way we know Crockford wrote the original JSON RFC
while forgetting about `DEL`, it's a mistake that's been carried onward to 2018:

Corckford also repeated the mistake in his 2018 published book _How JavaScript
Works_.

The book states on page 22.9 that: "Any single Unicode code point except the 32
control codes may be placed within the single quotes."  

Due to a lack of qualification or other acknowledgement of the additional
control characters, this statement make it clear that the 33rd control character
is simply forgotten along with the Unicode control characters.

It is somewhat humorous to discover this issue in the expression grammar and
follow it back to a published book, which itself is likely due, at least in
part, to the RFC. 

This error can likely be traced back to the RFC.  If the RFC was correct, I
doubt that this book would have reiterated the error.  

This highlights the concern: If a published book is mistaken because of the
wording, clearing up the relevant section in RFC is likely warranted.  

---

- Zach

Hi Zack,

Yes, the IETF slammed JSON canonicalization because they just don't feel confident that it is doable.  In some way they are right because RFC 8785 only works with the I-JSON subset.
https://gibson042.github.io/canonicaljson-spec/ does not suffer from this limitation.  That I didn't use this specification is because it is incompatible with the JavaScript "JSON" object.

The purpose of canonicalization is only to provide a fixed (binary) representation of data.  RFC 8785 accomplishes this by following JSON specification including its incomplete escaping of control characters.  The *only* purpose of escaping is to make non-printable characters printable.  That DEL was "forgotten" is a limitation but since the DEL character is still present in the output stream, there is a from a computer perspective no problem to solve.  Ugly, yes, bug no.  For input you can still use \u007f. For input escapes are very useful.  I use them for inserting smileys for example.

Sorting on Unicode would not make canonicalization "better"; you would just get a different binary for keys (properties) using unusual characters.  That is, the sort order is of no importance, it only needs to be consistent.

If you want to do different things in Coze, that is just fine but it won't affect RFC 8785 since there is (IMO) no "bug" to fix.

Anders

Hi Anders,

> That I didn't use this specification is because it is incompatible with the JavaScript "JSON" object https://gibson042.github.io/canonicaljson-spec/

What is the incompatibility?  


Also, I was wondering, why does 8785 not just require the minimal escaping?

U+0000 to U+0019 / U+0022 / U+0056?

Zach






Hi Zack,

The "JSON" object does not support numbers that are outside of IEEE-754 64-bit precision.  That is, it follows the JavaScript `Number` type.   No IETF standard based on JSON goes outside of this limit either.   This is a restriction compared to the JSON RFC.  It is sometimes referred to as I-JSON, specified in another RFC.
https://github.com/cyberphone/json-canonicalization/issues/2

For the escaping, I did not see any point changing anything with respect to the existing JSON spec.  If you look at the sample implementation in RFC 8785, the "JSON" object provides "correct" `String` serialization for *free*.  For my non-JavaScript implementations, I did of course had to do the escaping myself. 

Anders

Ah, I was misreading that section.  8785 does require minimal escaping, the 34 characters U+0000 to U+0019, U+0022, and U+0056.  No other characters are allow to be escaped.  

This means that as is written, 8785 precludes the ability to use JSON's third form escape, \uXXXX\uXXXX, since it is not one of the 34 characters.  

The third escape form is also the only place where UTF-16 knowledge is ever used by JSON.  8785 removes this requirement.  

As written, a JSON object canonicalized according to 8785 will have nothing related to UTF-16 except for the object key sorting requirement, which is a requirement by 8785 itself.  



> This means that as is written, 8785 precludes the ability to use JSON's third form escape, \uXXXX\uXXXX, since it is not one of the 34 characters.

RFC 8785 only deals with serialization (*output*), not parsing (*input)*.  For input, **all** JSON compatible parsers should be able to cope with all legal forms of UTF-8 as well as escaped variants including UTF-16 surrogates and \u007f.

I guess Coze builds on text processing rather than serializing JSON from an (undefined) internal representation?

Anders



Just a subtle point.  If JCS used Unicode sorting, all output from JCS would have removed the need for downstream to be UTF-16 aware.  

(Coze signs digests.  Most of the time those digests are of JSON.  Coze Canonicalization isn't as strict as 8785.  Perhaps it's deserving of a stricter option!)

> Just a subtle point. If JCS used Unicode sorting, all output from JCS would have removed the need for downstream to be UTF-16 aware.

The output from JCS is UTF-8: https://www.rfc-editor.org/rfc/rfc8785#section-3.2.4
UTF-16 is only used internally in JCS and only for keys/properties.

Since Coze is a unique canonicalizer, you may sort on UTF-8 which is simpler in **go**, but harder in **JavaScript**.  Going full Unicode seems unnecessary, AFAIK, no programming language use UTF-32 as internal representation.

Anders,

Thank you for the discourse!  I really appreciate your replies and your thoughts.  

> harder in JavaScript. Going full Unicode seems unnecessary

I don't think it's necessary to go full Unicode.    For ordering there are two sets, Unicode order (Unicode itself, UTF-32, and UTF-8) and not Unicode order (UTF-16).  It would be nice to use the first set.  The implementation details are independent.  

Is it hard in JavaScript?  Isn't `String.prototype.charCodeAt()` sufficient?  

That method requires only 2 bytes, not UTF-32's 4 bytes.  

Sorting on UTF-8 would require keys to be converted to UTF-8:
let utf8Key = new TextEncoder().encode(*Key*);

Since I don't know the input to Coze this may be a bad idea.

It doesn't need to sort on UTF-8.  Any method that shares Unicode order is sufficient.  

The abstract 16-bit integer, Unicode ordered, is sufficient.  `String.prototype.charCodeAt()` appears sufficient.  

This may be the one you are looking for https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/codePointAt
Personally I would go for UTF-8 because it is much simpler.

```javascript
let utf8Key = new TextEncoder().encode(Key); 
```

Is great!  👍

I'm going to spend some time next week digging through JSF.  Thank you for the discussion!  I'll close this comment, but if it's okay, I'll continue discussion here if I have any more questions.  Thank you!

Zach